*{
    font-family: 'Lato', sans-serif;
    margin: 0px;
    padding: 0px;
}

/* Header styling starts */
.header-container{
    display: flex;
    background-color: rgba(229, 84, 115,0.1);
}
.header-image{
    max-height: 100vh;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
}
.banner-container{
    margin-top: 150px;
    margin-left: 100px;
}
.banner-title{
    color: #272727;
font-size: 60px;
font-weight:800;
}
.banner-description{
    padding: 20px 0px;
    color: rgba(39, 39, 39, 0.6);
    font-size: 16px;
    font-weight: 400;

}
.button-primary{
    background-color: rgb(229, 84, 115);
    border: none;
    border-radius: 8px;
    color: white;
    padding: 17px 38px;
    font-size: 18px;
    font-weight: 700;
}

/* Header section finished */

/* main section start */

/* Main first part start */
.main-first-container{
    text-align: center;
    
    
}
.main-first-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding-top: 170px;
    padding-bottom: 24px;
}
.main-first-description{
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    padding: 0px 500px 48px 500px;
    
}

/* Main first Part End */

/* Main second start */
.main-second-container{
    display: flex;
    justify-content: center;
    gap: 40px;
}
.common-size{
    width: 350px;
    height: 420px;
    border-radius: 300px 300px 0px 0px;
}

.flower-display-1{ 
    background: rgba(167, 33, 98, 0.15);
}
.flower-display-2{
    background: rgba(5, 151, 160, 0.15);
}
.flower-display-3{
    background: rgba(71, 125, 17, 0.15);
}
.second-flower-1{
height: 350px;
padding-left: 35px;
padding-top: 70px;
}
.second-flower-2{
    height: 300px;
    padding-top: 70px;
    padding-left: 40px; 
}
.second-flower-3{
    height: 375px;
    padding-top: 45px;
    padding-left: 50px;
}
.flower-display-caption{
    margin-top: 32px;
    color: #272727;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    text-decoration-line: underline;
}

/* Main second end */
/* Main Third part start */
.main-third-container{
    display: flex;
    /* align-content: center; */
    justify-content: space-around;
    text-align: center;
    border-radius: 8px;
    background-color: rgba(39, 39, 39, 0.05);
    margin: 60px 115px;
    padding: 50px;
}
.third-container-image{
    height: 66px;
    margin: 30px 0px 0px 0px;
}

.third-container-description{
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 35px;
    margin: 0px 0px 30px 0px;
}

/* Main Third part end */

/* Main fourth part start */
.main-fourth-container{
    display: flex;
    background-color: rgba(229, 84, 115, 0.05);
    text-align: center;
    align-items: center;
}
.main-fourth-row{
    margin: 100px;
}
.main-fourth-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}
.main-fourth-description{
    margin-top: 24px;
    margin-bottom: 32px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
span{
    color: rgba(229, 84, 115, 1);
}
/* Main fourth part End */